# Variables and basic data types

In [1]:
# Variables and basic data types
x = 10 #int
y = 3.14 # float
name = "Alice" # String
is_student = True # boolean

print(x, type(x))
print(y, type(y))
print(name, type(name))
print(is_student, type(is_student))

10 <class 'int'>
3.14 <class 'float'>
Alice <class 'str'>
True <class 'bool'>

# Lists and Dictionaries

In [2]:
# Lists
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(fruits[1])  # Accessing elements

# Adding elements
fruits.append("date")
print(fruits)

# Dictionaries
person = {
    "name": "Alice",
    "age": 25,
    "is_student": True
}
print(person)
print(person["name"])  # Accessing values

# Adding key-value pairs
person["city"] = "New York"
print(person)

['apple', 'banana', 'cherry']
banana
['apple', 'banana', 'cherry', 'date']
{'name': 'Alice', 'age': 25, 'is_student': True}
Alice
{'name': 'Alice', 'age': 25, 'is_student': True, 'city': 'New York'}

# Conditional Statements

In [ ]:
# Conditional statements
age = 20

if age < 18:
    print("You are a minor.")
elif age < 65:
    print("You are an adult.")
else:
    print("You are a senior.")

In [3]:
# For loop
for i in range(5):
    print(i)

# While loop
count = 0
while count < 5:
    print(count)
    count += 1

# Looping through a list
for fruit in fruits:
    print(fruit)

# Looping through a dictionary
for key, value in person.items():
    print(f"{key}: {value}")

0
1
2
3
4
0
1
2
3
4
apple
banana
cherry
date
name: Alice
age: 25
is_student: True
city: New York

# Functions

In [4]:
# Defining a function
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

# Function with multiple arguments
def add(a, b):
    return a + b

print(add(3, 5))

# Function with default arguments
def introduce(name, age=25):
    return f"My name is {name} and I am {age} years old."

print(introduce("Alice"))
print(introduce("Bob", 30))

# Function with variable number of arguments
def sum_all(*args):
    return sum(args)

print(sum_all(1, 2, 3, 4, 5))

Hello, Alice!
8
My name is Alice and I am 25 years old.
My name is Bob and I am 30 years old.
15

In [12]:
# Print with one Line space
print("I am\n\nAmmar")

I am

Ammar

# Programs

In [13]:
# Fibonacci sequence using a loop
def fibonacci(n):
    a, b = 0, 1
    sequence = []
    for _ in range(n):
        sequence.append(a)
        a, b = b, a + b
    return sequence

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [14]:
# Factorial using recursion
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120

In [18]:
5*4*3*2*1

120

In [22]:
# Check if a number is prime
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    else:
      return True

print(is_prime(29))
print(is_prime(10))

True
False

In [23]:
# Check if a string is a palindrome
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("radar"))
print(is_palindrome("hello"))

True
False

# Palindrome
a word, verse, or sentence (such as "Able was I ere I saw Elba") or a number (such as 1881) that reads the same backward or forward

In [24]:
# Check if a string is a palindrome
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("radar"))
print(is_palindrome("hello"))

True
False

# Calculator Program

In [25]:
# Simple calculator
def calculator():
    operation = input("Choose an operation (+, -, *, /): ")
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if operation == '+':
        result = num1 + num2
    elif operation == '-':
        result = num1 - num2
    elif operation == '*':
        result = num1 * num2
    elif operation == '/':
        if num2 != 0:
            result = num1 / num2
        else:
            return "Error! Division by zero."
    else:
        return "Invalid operation!"

    return f"The result is: {result}"

print(calculator())

Choose an operation (+, -, *, /): +
Enter first number: 1
Enter second number: 2
The result is: 3.0

# Guess the lucky number game designed as a function with 5 max attempts

In [27]:
import random

def guess_the_number():
    number_to_guess = random.randint(1, 100)
    attempts = 0
    max_attempts = 5

    while attempts < max_attempts:
        guess = int(input("Guess the number (between 1 and 100): "))
        attempts += 1

        if guess < number_to_guess:
            print("Too low!")
        elif guess > number_to_guess:
            print("Too high!")
        else:
            print(f"Congratulations! You guessed the number in {attempts} attempts.")
            break
    else:
        print(f"Sorry, you've used all {max_attempts} attempts. The lucky number was {number_to_guess}.")

guess_the_number()

Guess the number (between 1 and 100): 23
Too low!
Guess the number (between 1 and 100): 100
Too high!
Guess the number (between 1 and 100): 23
Too low!
Guess the number (between 1 and 100): 50
Too low!
Guess the number (between 1 and 100): 21
Too low!
Sorry, you've used all 5 attempts. The lucky number was 93.

# ATM Simulation program

In [28]:
# ATM Simulation Program

def atm():
    correct_pin = "1234"  # Example PIN, you can change it to whatever you like
    attempts = 0
    max_attempts = 3
    card_blocked = False

    while attempts < max_attempts:
        pin = input("Please enter your PIN: ")
        if pin == correct_pin:
            print("PIN accepted. You have access to your account.")
            break
        else:
            attempts += 1
            print(f"Incorrect PIN. You have {max_attempts - attempts} attempt(s) left.")

    if attempts == max_attempts:
        card_blocked = True
        print("Your card has been blocked due to too many incorrect attempts.")

    return card_blocked

# Run the ATM program
if atm():
    print("Please contact your bank to unblock your card.")

Please enter your PIN: 2355
Incorrect PIN. You have 2 attempt(s) left.
Please enter your PIN: 1233
Incorrect PIN. You have 1 attempt(s) left.
Please enter your PIN: 2345
Incorrect PIN. You have 0 attempt(s) left.
Your card has been blocked due to too many incorrect attempts.
Please contact your bank to unblock your card.